*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.container{
    height: 100vh;
    width: 70vh;
    margin:auto;
    border: 1px solid;
    position: relative;
}
img{
    position: absolute;
    top: 0%;
    left: 10%;
}
.model{
    width: 50%;
    height: 75%;
    position: relative;
    margin: auto;
    top: 12.5%;
}
.sections{
    height: 33.33333vh;
}
.sections.bg-red,.bg-green .text{
    color: yellow;
}
.sections.bg-yellow .text{
    color:green;
}
.tasticontainer{
    height: 5vh;
    width: 20vh;
    position: absolute;
    z-index: 1;
    right: 0;
}
.tasti{
    background-color: white;
    width: 5vh;
    height: 5vh;
    margin-right: 7%;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
}
.text{
    width:100%;
    height: 30%;
    font-size: 3vh;
    text-align: center;
    position: absolute;
    bottom: 0;
}
